.center-absolute {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.accent-color {
    color: var(--accent);
}

.bottom-btn {
    position: absolute;
    bottom: calc(12px + env(safe-area-inset-bottom));
    left: 12px;
    right: 12px;
    width: calc(100% - 24px);
}

.Card__in {
    overflow: hidden!important;
}

.wall-post-text {
    width: 100%;
    resize: none;
    border: none;
    outline: none;
    font-size: 15px;
}

.Panel__in {
    background-color: var(--background_page)!important;
}

.PanelHeader__separator {
    background-color: white;
}

.done-btn {
    padding: 0;
    width: 42px;
    height: 42px;
    position: absolute;
    top: calc(286px + env(safe-area-inset-top));
    right: 10px;
}

.wall-post {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    margin: 8px 8px 0 8px;
    background-color: white;
}

.wall-post .Div {
    font-size: 15px!important;
    padding-top: 4px;
}

.globe-btn {
    width: 44px;
    height: 44px;
    position: fixed;
    border-radius: 50%;
    right: 12px;
    bottom: calc(12px + env(safe-area-inset-top));
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
}

#mapInside {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
