.center-absolute {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.accent-color {
    color: var(--accent);
}

.bottom-btn {
    position: absolute;
    bottom: calc(12px + env(safe-area-inset-bottom));
    left: 12px;
    right: 12px;
    width: calc(100% - 24px);
}

.Card__in {
    overflow: hidden!important;
}
